
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20 ";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.nowrap {
    white-space: nowrap;
    word-break: keep-all;
}

.wrap {
    white-space: normal;
    word-break: break-all;
}

.ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}
.hide {
    display: none;
}
.ellipsis2 {
    -webkit-line-clamp: 2;
}
/*padding-margin*/
.pdt5 {
    padding-top: 5px;
}
.pdt10 {
    padding-top: 10px;
}
.pdl5 {
    padding-left: 5px;
}
.pdl10 {
    padding-left: 10px;
}
.pdr5 {
    padding-right: 5px;
}
.pdr10 {
    padding-right: 10px;
}
.pdb5 {
    padding-bottom: 5px;
}
.pdb10 {
    padding-bottom: 10px;
}
.pdl30 {
    padding-left: 30px;
}
.pdr40 {
    padding-right: 40px;
}
.pdr15 {
    padding-right: 15px;
}
.pdl12 {
    padding-left: 12px;
}

.mgt0 {
    margin-top: 0px;
}
.mgt5 {
    margin-top: 5px;
}
.mgt10 {
    margin-top: 10px;
}
.mgl5 {
    margin-left: 5px;
}
.mgl10 {
    margin-left: 10px;
}
.mgl12 {
    margin-left: 12px;
}
.mgr5 {
    margin-right: 5px;
}
.mgr10 {
    margin-right: 10px;
}
.mgb0 {
    margin-bottom: 0px;
}
.mgb5 {
    margin-bottom: 5px;
}
.mgb10 {
    margin-bottom: 10px;
}
.mgb15 {
    margin-bottom: 15px;
}
.mgl45 {
    margin-left: 45px;
}
.mgl30 {
    margin-left: 30px;
}
.mgr30 {
    margin-right: 30px;
}
.mgr15 {
    margin-right: 15px;
}
.mgl15 {
    margin-left: 15px;
}
.mgt15 {
    margin-top: 15px;
}
/*text-align*/
.tac {
    text-align: center;
}
.tal {
    text-align: left;
}
.tar {
    text-align: right;
}

/*float*/
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
/*width*/
.w150 {
    width: 150px;
}
.w100 {
    width: 100px;
}
.w137 {
    width: 137px !important;
}

.load_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1999; /* background: rgba(0,0,0,0.6); */
    width: 100%;
    height: 100%;
}
.load_box .bd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dc-topbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.06);
}
.van-nav-bar .van-icon {
    font-size: 20px;
    color: #333 !important;
}

.van-toast.http-toast {
    width: 50px !important;
    height: 50px !important;
    max-width: 50px !important;
    min-height: 50px !important;
}

.van-uploader__preview-image,
.van-uploader__upload {
    width: 50px !important;
    height: 50px !important;
}
.van-dialog__header {
    padding: 15px 0 !important;
    background: #eee;
}
.van-tabs__line {
    z-index: 0 !important;
}
.reset-panel {
    .van-cell__value {
        border: 1px solid #eee;
        padding: 2px 5px;
    }
}
